* {
	margin: 0
	padding:0;
	box-sizing: 0;
	
}



#container {
	height: 100%;	
	background-color: black;
}

.maincontent {
	
}

.holder {
	margin: auto;
	width: 500px;
	height: 300px;
	
}

.holder img {
	height: 100%;
	width: 100%;

}

.holder video {
	height: 100%;
	width: 100%;
}

.dropdown-link {
	display: inline-block;
	width: 150px;
	height: 
	background-color: red;
}




































